---
import ArrowLeft from '../icons/ArrowLeft.astro';
import ArrowRight from '../icons/ArrowRight.astro';
import IconButton from './IconButton.astro';

const { page, class: className } = Astro.props;
---

<nav aria-label="Pagination" class:list={['w-full flex justify-between items-center', className]}>
    {
        page.url.prev && (
            <IconButton href={page.url.prev} aria-label={`Go to page ${page.currentPage - 1} of ${page.lastPage}`}>
                <ArrowLeft class="w-5 h-5 fill-current" />
            </IconButton>
        )
    }
    <span class="text-sm" aria-current="page">Page {page.currentPage} of {page.lastPage}</span>
    {
        page.url.next && (
            <IconButton href={page.url.next} aria-label={`Go to page ${page.currentPage + 1} of ${page.lastPage}`}>
                <ArrowRight class="w-5 h-5 fill-current" />
            </IconButton>
        )
    }
</nav>
